.test{
    height: 600px;
    width: 100%;
    display: flex;
}

.box{
    border: 5px solid black;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 16pt;
}

ol{
  height: 100%;
  width: auto;
}

li{
  font-size: 14pt;
  padding-left: 10px;
  width: auto;
}

h2{
  font-size: 24pt;
  padding-left: 250px;
  padding-top: 10px;
  padding-right: 10px;
  text-align: center;
}

h1{
  font-size: 50pt;
  text-align: center;
}

h3{
  text-align: center;
  
}
h4{
  text-align: center;
}

body{
  background: rgb(156,116,133);
  background: radial-gradient(circle, rgba(156,116,133,1) 0%, rgba(76,143,222,1) 100%);
}